@import "tailwindcss";

:root {
  --background: #f7fbf7;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}
